{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
     <h1 class = "title">About this Project</h1>
        <p>
          Welcome to our final project for CS50: Introduction to Computer Science at Harvard College. In this program, we attempt to use the skills
          and concepts we learned throughout the fall 2019 semester to collect, graph, and analyze data. All of us enrolled as first-years in CS50 with little to no prior
          coding experience, thus this semester has been both challenging and exciting. We all completed the web track.
          <br>
          <br>
          In our project, Trends in Voting: 2016 Presidential Election Edition, we were interested in looking at the significance of factors such as
          poverty and education on voting trends. Through choropleth maps and correlation graphs, we sought to understand whether there was a correlation
          between data related to demographics and party. As you navigate the website, keep in mind trends you found surprising in the data. See if some
          of your thoughts are noted in our observations and conclusions!
        </p>
        <br>
 <h1 class = "title">About the Creators</h1>
    <div class="card" style="width: 18rem; float: left; margin: 25px">
      <img src="/static/margaret.jpg" alt="margaret" height="400" weight="300">
      <div class="card-body">
        <h5 class="card-title">Margaret Braun</h5>
        <p class="card-text">Margaret hails from Phoenix, AZ, is concentrating in math and sociology, and lives in Canaday.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem; float: left; margin: 25px">
      <img src="/static/nik.jpg" alt="nik" height="400" weight="320">
      <div class="card-body">
        <h5 class="card-title">Nik Kirk</h5>
        <p class="card-text">Nik is also from Phoenix, AZ, is planning on concentrating in applied math, and lives in Straus.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem; float: left; margin: 25px">
      <img src="/static/helen.jpg" alt="helen" height="400" weight="300">
      <div class="card-body">
        <h5 class="card-title">Helen He</h5>
        <p class="card-text">Helen is from Andover, MA, plans on concentrating in psychology, and lives in Weld.</p>
      </div>
    </div>



{% endblock %}